*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    background-color: rgb(246, 248, 249);
}

.color{
    background-color: rgb(255, 255, 255);
}

header{
    padding-top: 0.5em;
    padding-left: 0.8em;
}

h1{
    display: inline-block;
    font-size: 3em;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

div.color.position{
    margin: 2em auto 1px;
    padding: 0.5em 3em;
}
.position{
    width: 75%;
}

main{
    margin: 1px auto 2em;
    padding: 3em;
}
.small{
    font-size: 0.6em;    
}

.task{
    background-color: rgb(71, 173, 241);
    border-color: rgb(71, 173, 241);
    color: white;
    border-radius: 18%;
    height: 1.5rem;
}

.section{
    background-color:  rgb(255, 255, 255);
    border-color:  rgb(211, 216, 219);
    color: rgb(211, 216, 220);
    border-radius: 18%;
    height: 1.5rem;
}

div{
    padding-bottom: 0.7em;
}

.select{
    width: 45px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    padding: 5px;
    border-radius: 38%;
}

.editorial{
    background-color: rgb(69, 171, 234);
}

.goals{
    background-color: rgb(156, 114, 228);
}

.recruiting{
    background-color: rgb(100, 192, 169);
}

.mobile{
    background-color: rgb(242, 158, 51);
}

.website{
    background-color: rgb(216, 99, 161);
}

.sales{
    background-color: rgb(176, 201, 38);
}

.down{
    font-size: 0.5em;
}

.cerchio{
    border-radius: 100%;
    font-size: 0.7em;
    padding: 0.3em;
}

.g{
    border: 1px solid rgb(108, 197, 175);
    color: rgb(108, 197, 175);
}

.r{
    border: 1px solid rgb(234, 66, 55);
    color: rgb(235, 88, 81);
}

.check{
    font-size: 0.5em;
    color: lawngreen;

}

footer{
    text-align: center;
    padding: 0.5em;
}

.firma{
    border: 2px solid black;
    border-radius: 100%;
}