*{
    box-sizing: border-box;
}

body{
    background-color: rgb(246, 248, 249);
}

.color{
    background-color: rgb(255, 255, 255);
}

h1{
    display: inline-block;
    font-size: 2.5em;
}

main{
    width: 75%;
    margin: 2em auto 2em;
}

footer{
    text-align: center;
}