*{
    box-sizing: border-box;
}

body{
    background-color: rgb(246, 248, 249);
}

.color{
    background-color: rgb(255, 255, 255);
}

h1{
    display: inline-block;
    font-size: 2.5em;
}

main{
    width: 75%;
    margin: 2em auto 2em;
}

.small{
    font-size: 0.5em;
}

.down{
    font-size: 0.5em;
}

.cerchio{
    height: 50px;
    width: 500px;
    border: 1px solid lawngreen;
    border-radius: 50%;
}

.check{
    color: lawngreen;
    font-size: 0.5em;

}

footer{
    text-align: center;
}