*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

body{
    background-color: rgb(246, 248, 249);
}

.color{
    background-color: rgb(255, 255, 255);
}

h1{
    display: inline-block;
    font-size: 2.5em;
}

main{
    width: 75%;
    margin: 2em auto 2em;
    padding: ;
}

.small{
    font-size: 0.6em;    
}

div{
    padding-bottom: 0.7em;
}

.select{
    width: 45px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    padding: 5px;
    border-radius: 38%;
}

.editorial{
    background-color: rgb(69, 171, 234);
}

.goals{
    background-color: rgb(156, 114, 228);
}

.recruiting{
    background-color: rgb(100, 192, 169);
}

.mobile{
    background-color: rgb(242, 158, 51);
}

.website{
    background-color: rgb(216, 99, 161);
}

.sales{
    background-color: rgb(176, 201, 38);
}

.down{
    font-size: 0.5em;
}

.cerchio{
    height: 50px;
    width: 500px;
    border: 1px solid rgb(108, 197, 175);
    border-radius: 100%;
    font-size: 0.7em;
    padding: 0.3em;
    color: rgb(108, 197, 175);
}

.check{
    font-size: 0.5em;
    color: lawngreen;

}

footer{
    text-align: center;
    padding: 0.5em;
}

.firma{
    border: 2px solid black;
    border-radius: 100%;
}